.flexbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-width: 800px;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
}

.content-1 {
    width: 800px;
    flex-shrink: 2;
  }