.flexbox {
    display: flex;
    height: 200px;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
}

div {
  height: 100px;
  border: solid 1px black;
  gap: 15px;
}

.content-2 {
  align-self: end;
}

.content-3 {
  align-self: flex-start;
}