* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    font-size: 16px;
}

div.first-section {
    font-size: 30px;
}

div {
    color: brown;
    text-align: center;
  }

p {
    color: red;
  }
  
  p.new {
    color: blue;
  }
  
  p#port {
    color: orange;
  }

  p.red {
    color: rgb(255, 0, 0);
   }

   p.green {
    color: #3cb371 ;
   }

   p.red-2 {
    color: rgba(255, 0, 0, 0.7) ;
   }

   p.red-3 {
    color: red;
   }

p.first {
    background-color: beige;
    color: blue;
    text-align: right;
}

p.color {
    color: red;
}

p.font {
    font-size: 40px;
}

p, h6.color-1 {
    color: violet;
    background-color: blue;
}

h1 {
    color: aqua;
}

h2 {
    color: khaki;
}

h3 {
    color: darkblue;
}

h4 {
    color: seagreen;
}

h5#title-1 {
    color: orange;
    background-color: black;
}

h6 {
    color: tomato;
}

a:hover {
    color: orangered;
}

ul li:last-child {
    font-size: 25px;
      color: green;
  }