div.first-section {
    font-size: 30px;
}

p {
    background-color: beige;
    color: blue;
    text-align: right;
}

p.color {
    color: red;
}

p.font {
    font-size: 40px;
}

h1 {
    color: aqua;
}

h2 {
    color: khaki;
}

h3 {
    color: darkblue;
}

h4 {
    color: seagreen;
}

h5#title-1 {
    color: orange;
    background-color: black;
}

h6 {
    color: tomato;
}