.flexbox {
  justify-content: center;
}

header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  margin-bottom: 0.75rem;
  }
  
  nav {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    margin-bottom: 0.75rem;
  }

main {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  position: relative;
  max-width: 100%;
  }

.column-middle {
  text-align: center;
  background-color: #f1f1f1;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 50%;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  flex-shrink: 1;
}

.column-1  {
  background-color: #f1f1f1;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 25%;
  flex-shrink: 1;
  margin-bottom: 0.75rem;
}

.column-2 {
  background-color: #f1f1f1;
  padding-top: 200px;
  padding-bottom: 200px;
  width: 25%;
  flex-shrink: 1;
  margin-bottom: 0.75rem;
}

footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}