.grid-container {
    display: grid;
    grid-template-rows: 20px 40px ;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1152px;
    gap: 10px;
}

.grid-item {
    background-color: lightpink;
}

