.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1152px;
    gap: 10px;
}

.grid-item {
    padding: 20px;
    background-color: lightpink;
    text-align: center;
}

.item-1 {
    grid-area: span 2 / 1;
}

.item-8 {
    grid-area: 3 / 2 / 3 / span 2;
}